<%= page_header "Sign in" %>

<div class="span5 offset3">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <% if devise_mapping.rememberable? -%>
  <div class="control-group">
    <div class="controls">
      <label for="user_remember_me" class="checkbox">
        <%= f.check_box :remember_me %> Remember me
      </label>
    </div>
    <div class="controls">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    <% end -%>    
    </div>
  </div>  
  <% end -%>
  <div class="form-actions">
    <%= f.submit "Sign in", :class => 'btn btn-primary' %>
  </div>
  <% end %>
</div>
